{% extends 'base.html' %} {% block content %}

  <!-- 
    Displays the contents received from the contents views rendering the context variable data
  -->

<div class="container pt-5">
  <h2>{{data.0.tag}}</h2>
  <div class="row row-cols-1 row-cols-md-3">
    {% for info in data %}
    <div class="col mb-4">
      <div class="card" style="height: 32rem;">
        <img src="{{info.image}}" class="card-img-top" style="height: 18rem;" />
        <div class="card-body">
          <h5 class="card-title">{{info.headline}}</h5>
          {% if info.body %}
          <p>{{info.body}}</p>
          {% endif %}
          <button type="button" class="btn btn-info" onclick="window.location='{{info.link}}';">
            Readmore
          </button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<br />
{% endblock %}