{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>THIS IS HOME PAGE</h1>
    <h3>SUBSCRIBE TOPIC FOR THE CONTENT</h3>
    <form action="{% url 'contents' %}" method="POST">
        <div class="input-group">
            {% csrf_token %}
            <select class="select" id="inputGroupSelect04" name="dropdown">
                <option selected value="Sharemarket">Sharemarket</option>
                <option value="Gadgets">Gadgets</option>
                <option value="Sports">Sports</option>
                <option value="Politics">Politics</option>
                <option value="Jobs">Jobs</option>
            </select>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary bg-success text-white" type="submit">Subscribe</button>
            </div>
        </div>
    </form>
</div>
<br />
{% endblock %}