{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row row-cols-1 row-cols-md-3">
  {% if data %}
    {% for info in data %}
    {% for every_data in info %}
    <div class="col mb-4">
      <div class="card">
        <img src="{{every_data.1}}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{every_data.0}}</h5>
          {% if every_data.3 %}
            <p>{{every_data.3}}</p>
          {% endif %}
          <button
            type="button"
            class="btn btn-info"
            onclick="window.location='{{info.2}}';"
          >
            Readmore
          </button>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endfor %}
{% endif %}
  </div>
<h1>THIS IS HOME PAGE</h1>
<h3>SUBSCRIBE TOPIC FOR THE CONTENT</h3>
</div>
<br />
{% endblock %}