{% extends 'base.html' %} 
{% block content %}
<div class="container">
  <div class="row row-cols-1 row-cols-md-3">
    {% for info in data %}
    <div class="col mb-4">
      <div class="card">
        <img src="{{info.1}}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{info.0}}</h5>
          {% if info.3 %}
            <p>{{info.3}}</p>
          {% endif %}
          <button
            type="button"
            class="btn btn-info"
            onclick="window.location='{{info.2}}', '_blank';"
          >
            Readmore
          </button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<br />
{% endblock %}
